 body{
    background-color: #000;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header--secondary{
    font-weight:normal;
    font-size:36px;
    color: #ffffff;
}
.header--sub-header{
    font-size:21px;
    color: grey
}
 .header--main{ 
    font-weight:normal;
    font-size:30px;
    color: #ffffff;
}
.footer--copywright{
    text-align:right;
    font-size:14px;
    color: #4114c6;
}

 .link--cta{
    font-size: 20px;
    color:aquamarine;

}